.card {
    background: #fff;
    border-radius: 2px;
    height: 250px;
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
  }
  .card > .img-container > img {
    width: 60%
  }
  .click-item {
    height: 225px;
    width: 225px;
    margin: 10px;
  }
  .btn{
    color: white;
    font-family: 'Galindo', cursive; 
  }
