.App {
  text-align: center;
  font-family: 'Galindo', cursive;
  background: #0099cc;
  width: 100%;
  color: white;
  padding-bottom: 5px;
 
}
.message{
  font-family: 'Galindo', cursive;
  margin: 0;
  padding: 10px
}

 





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
